.mainInfo .topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainInfo form {
  margin-top: 30px;
  margin-bottom: 100px;
}
.mainInfo form .addForm {
  justify-content: space-evenly;
}
.mainInfo form .addForm .input-container, .mainInfo form .addForm .select-container {
  display: flex;
  flex-direction: column;
}
.mainInfo form .bordered {
  border: 1px solid #DFDFDF;
  padding: 30px;
}
.mainInfo a {
  font-size: 18px;
  color: #2A3256;
  font-weight: 600;
  padding: 4px 8px;
  margin: 0;
  transition: color 0.15s linear;
  text-decoration: none;
}
.mainInfo a:hover {
  color: #F47C35;
  transition: color 0.15s linear;
}
.mainInfo a i {
  margin-right: 10px;
}
.mainInfo .search {
  font-size: 22px;
  color: #9095A2;
  font-weight: 500;
  transition: all 0.15s linear;
  text-decoration: none;
  padding: 0;
}
.mainInfo .search:hover {
  text-decoration: underline;
  color: #00B8A3;
  transition: all 0.15s linear;
}
.mainInfo .sort {
  cursor: pointer;
  transition: color 0.15s linear;
}
.mainInfo .sort:hover {
  color: #F47C35;
  transition: color 0.15s linear;
}
