.mainInfo {
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
  background-color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 0;
}
.mainInfo .table-header {
  padding: 24px 24px 0 24px;
}
.mainInfo .table-header p {
  font-size: 18px;
  font-weight: 600;
  color: #9095A2;
  margin-bottom: 8px;
}
.mainInfo .table-body table {
  width: 100%;
}
.mainInfo .table-body table thead {
  border-bottom: 1px solid #DFDFDF;
}
.mainInfo .table-body table thead tr th {
  color: #9095A2;
  font-size: 16px;
  padding: 12px 24px;
  font-weight: 400;
}
.mainInfo .table-body table tbody tr td {
  padding: 12px 14px;
}
.mainInfo .table-body table tbody tr td p, .mainInfo .table-body table tbody tr td a {
  font-size: 14px;
  color: #9095A2;
  font-weight: 500;
  padding: 4px 8px;
  margin: 0;
  transition: color 0.15s linear;
}
.mainInfo .table-body table tbody tr td a:hover {
  color: #2A3256;
  transition: color 0.15s linear;
}
.mainInfo .table-body table tbody tr:not(:last-child) {
  border-bottom: 1px solid #DFDFDF;
}
