.disabled {
  display: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}
.form-container .selection {
  margin-bottom: 44px;
}
.form-container .select2-container {
  width: 100% !important;
}
.form-container .select2-container .select2-selection {
  border-radius: 0px !important;
  border: 1px solid #DFDFDF !important;
  height: 44px !important;
  padding-top: 5px !important;
}
