section#login .container .row {
  margin-top: 150px;
  justify-content: center;
}
section#login .container .row .content {
  text-align: center;
}
section#login .container .row .content h1 {
  color: #2A3256;
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(310deg, #3761EE, #00C3F9);
}
section#login .container .row .content p {
  font-size: 16px;
  color: #9095A2;
  font-weight: 600;
}
section#login .container .row .content .card-body .input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section#login .container .row .content .card-body .input label {
  font-size: 16px;
  color: #9095A2;
  margin: 0 0 8px 4px;
  font-weight: 600;
}
section#login .container .row .content .card-body .input input {
  display: block;
  width: 100%;
  padding: 8px 12px 8px 35px;
  font-size: 16px;
  font-weight: 400;
  color: #9095A2;
  background-color: #FFFFFF;
  border: 1px solid #DFDFDF;
  transition: box-shadow 0.15s ease, border-color 0.15s ease;
  border-radius: 10px;
  margin-bottom: 25px;
}
section#login .container .row .content .card-body .input input:focus {
  border-color: #F47C35;
  box-shadow: 0 0 0 2px #F47C35;
  outline: none;
  transition: box-shadow 0.15s ease, border-color 0.15s ease;
}
section#login .container .row .content .card-body .buttons {
  display: flex;
  flex-direction: column;
}
section#login .container .row .content .card-body .buttons a {
  font-size: 16px;
  color: #9095A2;
  margin-bottom: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.25s linear;
}
section#login .container .row .content .card-body .buttons a:hover {
  color: #00B8A3;
  text-decoration: underline;
  transition: all 0.25s linear;
}
