body {
  background-color: #70246A;
  border-top: 5px solid #F9627D;
}

section#login .boy {
  width: 853px;
  height: 590px;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
section#login .credits {
  position: absolute;
  bottom: 40px;
  right: 1239px;
}
section#login .credits p {
  background-color: #FFFFFF;
  padding: 20px 40px;
  border: 1px solid #707070;
  border-radius: 5px;
  color: #5B3758;
  font-size: 13px;
}
section#login .credits p::after {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  transform: rotate(45deg);
  position: absolute;
  bottom: 25%;
  left: 14%;
}
section#login .credits i {
  color: #FFFFFF;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 10px;
}
section#login .row {
  margin-top: 250px;
  flex-direction: column;
  align-content: center;
}
section#login .row .logo {
  width: 290px;
  height: 170px;
}
section#login .row .card-body form {
  display: flex;
  flex-direction: column;
}
section#login .row .card-body form .input label {
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
section#login .row .card-body form .input input {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-left: 15px;
}
section#login .row .card-body form .input input:focus-visible {
  outline: none;
}
section#login .row .card-body form .buttons {
  margin-top: 20px;
}
section#login .row .card-body form .buttons a {
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  transition: color 0.5s linear;
}
section#login .row .card-body form .buttons a:hover {
  color: #F9627D;
  transition: color 0.5s linear;
}
section#login .row .card-body form .buttons button {
  height: 50px;
  background-color: #FFFFFF;
  color: #5B3758;
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s linear;
}
section#login .row .card-body form .buttons button:hover {
  color: #FFFFFF;
  background-color: #F9627D;
  transition: all 0.5s linear;
}
