form .input-label {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #2A3256;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  margin-bottom: 6px;
}
form .text-input {
  background-color: #FFFFFF;
  border: 1px solid #DFDFDF;
  height: 44px;
  width: 100%;
  margin: 0 16px 44px 0;
}
form .area-input {
  min-height: 100px;
}
form .select-input {
  background-color: #FFFFFF;
  border: 1px solid #DFDFDF;
  height: 44px;
  width: 100%;
  margin: 0 16px 44px 0;
  cursor: pointer;
}
form .file-input {
  background-color: #FFFFFF;
  border: 1px solid #DFDFDF;
  width: 100%;
  padding: 65px 0 60px 100px;
  margin: 0 16px 44px 0;
  cursor: pointer;
}
form a {
  font-size: 14px;
  color: #9095A2;
  text-decoration: none;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  transition: all 0.25s linear;
}
form a:hover {
  color: #00B8A3;
  text-decoration: underline;
  transition: all 0.25s linear;
}
form .button {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-weight: 600;
  margin: 15px 0 45px 0;
}
form .button.bold {
  background-color: #2A3256;
  border: 1px solid #2A3256;
  color: #FFFFFF;
  transition: all 0.25s linear;
}
form .button.bold:hover {
  background-color: #3761EE;
  border-color: #3761EE;
  transition: all 0.25s linear;
}
form .button.light {
  background-color: #FFFFFF;
  border: 1px solid #2A3256;
  color: #2A3256;
  transition: all 0.25s linear;
}
form .button.light:hover {
  background-color: #2A3256;
  color: #FFFFFF;
  transition: all 0.25s linear;
}
form .download {
  padding: 15px 25px;
  text-decoration: none !important;
}
form .download--btn-container {
  margin-top: 25px;
}

body {
  font-family: "Raleway", sans-serif;
}
body .header {
  font-size: 40px;
  font-weight: 400;
  color: #9095A2;
}
body .title {
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
}
body .subtitle {
  font-size: 18px;
  font-weight: 700;
  color: #70246A;
}
body .smallTitle {
  font-size: 12px;
  color: #70246A;
  font-weight: 700;
}
body .paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #2A3256;
}
body .comment {
  font-size: 16px;
  font-weight: 400;
  color: #9095A2;
}
body .blue {
  color: #2A3256 !important;
}
body .menu {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
}

body {
  background-color: #70246A;
  border-top: 5px solid #F9627D;
}
body a {
  text-decoration: none;
  color: black;
}
body section#main .dashboard {
  margin: 35px 120px;
}
body section#main .dashboard .sidebar {
  display: flex;
  align-items: flex-end;
}
body section#main .dashboard .sidebar .sidebar-header a {
  color: #FFFFFF;
}
body section#main .dashboard .sidebar .sidebar-header a .logo {
  height: 100px;
  width: 170px;
  background-position: center;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
body section#main .dashboard .sidebar .nav-bar {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
body section#main .dashboard .sidebar .nav-bar .nav-item a i {
  font-size: 20px;
  margin-right: 15px;
}
body section#main .dashboard .sidebar .userSettings {
  margin-bottom: 16px;
}
body table {
  width: 100%;
  margin-top: 10px;
}
body table thead th {
  margin-bottom: 20px;
}
body table tbody tr td {
  padding: 10px;
}
body table tbody tr td p {
  margin-bottom: 0;
}
body table tbody tr td a {
  font-size: 20px;
  color: #9095A2;
  font-weight: 500;
  padding: 4px 8px;
  margin: 0;
  transition: color 0.15s linear;
}
body table tbody tr td .edit:hover {
  color: #00B8A3;
  transition: color 0.15s linear;
}
body table tbody tr td .invite:hover {
  color: #F47C35;
  transition: color 0.15s linear;
}
body table tbody tr td .delete:hover {
  color: #E34D59;
  transition: color 0.15s linear;
}
body table tbody tr:nth-child(odd) {
  background-color: #E5E9F6;
}
body .top-section {
  margin-top: 80px;
  justify-content: space-between;
}
body .top-section .banner {
  width: 440px;
  height: 270px;
  background-position: center;
  background-size: cover;
  margin-left: 15px;
}
body .top-section .stats-container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  align-items: flex-end;
  margin-bottom: 50px;
}
body .top-section .stats-container .stats .title p {
  margin-bottom: 5px;
}
body .top-section .stats-container .stats .title i {
  margin-right: 10px;
}
body .top-section .stats-container .stats .data {
  display: flex;
  border: 1px solid #442041;
  justify-content: space-evenly;
  padding: 5px;
}
body .top-section .stats-container .stats .data .counter {
  color: #FFFFFF;
  display: flex;
  font-size: 18px;
  align-items: flex-end;
}
body .top-section .stats-container .stats .data .counter .number {
  font-size: 35px;
  font-weight: 600;
  margin-right: 10px;
}
body .bottom-section {
  background-color: #F1F4FD;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  border-top: 2px solid #F9627D;
  padding: 50px 80px 90px 140px;
  justify-content: space-between;
}
body .bottom-section .courses .subtitle, body .bottom-section .courses-chart .subtitle {
  font-size: 18px;
  font-weight: 800;
  border-bottom: 1px solid #442041;
  width: 28%;
  margin-bottom: 50px;
}
body .bottom-section .courses .colTitles, body .bottom-section .courses-chart .colTitles {
  font-size: 12px;
  color: #442041;
  font-weight: 500;
}
body .changePass {
  justify-content: center;
}
