.bottom-section {
  padding: 30px 80px 0 140px;
}
.bottom-section .buttons {
  justify-content: flex-start !important;
  margin-bottom: 30px;
}
.bottom-section form .form-container {
  justify-content: flex-start;
}
.bottom-section form .form-container .semester select {
  width: 30%;
}
