@import "variables";

table {
    width: 100%;
    margin: 10px 0 30px 0;

    & thead {
        & th {
            margin-bottom: 20px;
            color: $purple;
        }
    }

    & tbody {
        & tr {

            &:hover {
                &  p{
                    color: $pink;
                    transition: color 0.5s linear;
                }
            }

            & td {
                padding: 25px 0px;
                transition: color 0.5s linear;

                & p {
                    margin-bottom: 0;
                }

                & a {
                    color: $subText;
                    font-weight: 500;
                    margin: 0;
                    transition: color 0.15s linear;
                }

                & .edit {
                    &:hover {
                        color: $greenText;
                        transition: color 0.15s linear;
                    }
                }

                & .invite {
                    &:hover {
                        color: $accent4;
                        transition: color 0.15s linear;
                    }
                }

                & .delete {
                    &:hover {
                        color: $redText;
                        transition: color 0.15s linear;
                    }
                }
            }

            &:nth-child(odd) {
                background-color: $gray;
            }
        }
    }
}
