@import "variables";

body {
    font-family: $primaryFont;

    & .header {
        font-size: 40px;
        font-weight: 400;
        color: $subText;
    }

    & .title{
        font-size: 20px;
        font-weight: 800;
        color: $purple;
        border-bottom: 1px solid $darkerPurple;
        width: fit-content;
        margin-bottom: 50px;
    }
    & .subtitle {
        font-size: 16px;
        font-weight: 700;
        color: $purple;
    }

    & .smallTitle{
        font-size: 16px;
        color: $purple;
        font-weight: 400;
    }

    & .paragraph {
        font-size: 16px;
        font-weight: 400;
        color: black;
    }

    & .comment {
        font-size: 16px;
        font-weight: 400;
        color: $subText;
    }

    & .purple{
        color: $purple !important;
    }


    & .menu{
        color: $white;
        font-size: 16px;
        font-weight: 300;
    }

    & .colTitles {
        font-size: 17px;
        color: $purple;
        font-weight: 600;
    }

    & .button {
        width: 100%;
        padding: 12px;
        font-size: 14px;
        font-weight: 600;
        margin: 15px 0 45px 0;

        &.bold {
            background-color: $purple;
            border: 1px solid $purple;
            color: $white;
            transition: all 0.25s linear;

            &:hover {
                background-color: $white;
                color: $purple;
                transition: all 0.25s linear;
            }
        }

        &.light {
            background-color: $white;
            border: 1px solid $purple;
            color: $purple;
            transition: all 0.25s linear;

            &:hover {
                background-color: $purple;
                color: $white;
                transition: all 0.25s linear;
            }
        }

    }
}
