@import "variables";

body {
    font-family: $primaryFont;

    & .header {
        font-size: 40px;
        font-weight: 400;
        color: $subText;
    }

    & .title{
        font-size: 22px;
        font-weight: 700;
        color: $purple;
    }
    & .subtitle {
        font-size: 18px;
        font-weight: 700;
        color: $purple;
    }

    & .smallTitle{
        font-size: 12px;
        color: $purple;
        font-weight: 700;
    }

    & .paragraph {
        font-size: 16px;
        font-weight: 400;
        color: $primary;
    }

    & .comment {
        font-size: 16px;
        font-weight: 400;
        color: $subText;
    }

    & .blue{
        color: $primary !important;
    }


    & .menu{
        color: $purple;
        font-size: 16px;
        font-weight: 300;
    }
}
