//Global colors
$primary: #2A3256;

$white: #FFFFFF;
$accent1: #573BFF;
$accent2: #3761EE;
$accent3: #00C3F9;
$accent4: #F47C35;



// Text colors
$subText: #9095A2;
$lightSubText: #DFDFDF;
$greenText: #00B8A3;
$redText: #E34D59;



//Fonts
$primaryFont: 'Raleway', sans-serif;
