@import "variables";

.mainInfo {
    & .topRow {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 15px;
    }

    & form {
        margin-top: 30px;
        margin-bottom: 100px;

        & .addForm {
            justify-content: space-evenly;

            & .input-container, .select-container {
                display: flex;
                flex-direction: column;
            }
        }

        & .bordered {
            border: 1px solid $lightSubText;
            padding: 30px;
        }
    }


    & a {
        font-size: 18px;
        color: $purple;
        font-weight: 600;
        padding: 4px 0;
        margin: 0;
        transition: color 0.15s linear;
        text-decoration: none;

        &:hover {
            color: $pink;
            transition: color 0.15s linear;
        }

        & i {
            margin-right: 10px;
        }
    }

    & .search {
        font-size: 22px;
        color: $purple;
        font-weight: 500;
        transition: all 0.15s linear;
        text-decoration: none;
        padding: 0;

        &:hover {
            text-decoration: underline;
            color: $pink;
            transition: all 0.15s linear;
        }
    }

    & .sort {
        cursor: pointer;
        transition: color 0.15s linear;

        &:hover {
            color: $pink;
            transition: color 0.15s linear;
        }
    }
}


