@import "variables";

.mainInfo {
    & .topRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & form {
        margin-top: 30px;
        margin-bottom: 100px;

        & .addForm {
            justify-content: space-evenly;
            & .input-container, .select-container {
                display: flex;
                flex-direction: column;


            }

        }

        & .bordered{
            border: 1px solid $lightSubText;
            padding: 30px;
        }
    }


    & a {
        font-size: 18px;
        color: $primary;
        font-weight: 600;
        padding: 4px 8px;
        margin: 0;
        transition: color 0.15s linear;
        text-decoration: none;

        &:hover {
            color: $accent4;
            transition: color 0.15s linear;
        }

        & i {
            margin-right: 10px;
        }
    }

    & .search {
        font-size: 18px;
        color: $subText;
        font-weight: 500;
        transition: all 0.15s linear;
        text-decoration: none;
        padding: 0;

        &:hover {
            text-decoration: underline;
            color: $greenText;
            transition: all 0.15s linear;
        }
    }

    & .sort {
        cursor: pointer;
        transition: color 0.15s linear;

        &:hover {
            color: $accent4;
            transition: color 0.15s linear;
        }
    }
}


