@import "variables";
.mainInfo{
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    background-color: $white;
    border: 1px solid transparent;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 0;
    & .table-header{
        padding: 24px 24px 0 24px;
        & p{
            font-size: 18px;
            font-weight: 600;
            color: $darkGray;
            margin-bottom: 8px;
        }
    }
    & .table-body{
        & table{
            width: 100%;
            & thead{
                border-bottom: 1px solid $lightGray;
                & tr{
                    & th{
                        color: $gray;
                        font-size: 16px;
                        padding: 12px 24px;
                        font-weight: 400;
                    }
                }
            }
            & tbody{
                & tr{
                    & td{
                        padding: 12px 14px;
                        & p,a{
                            font-size: 14px;
                            color: $darkGray;
                            font-weight: 500;
                            padding: 4px 8px;
                            margin: 0;
                            transition: color 0.15s linear;
                        }

                        & a{
                            &:hover{
                                color: $blue;
                                transition: color 0.15s linear;
                            }
                        }
                    }
                    &:not(:last-child){
                        border-bottom: 1px solid $lightGray;
                    }
                }
            }
        }
    }
}
