@import "variables";

.addForm {
    display: flex;
    justify-content: flex-end !important;
    align-items: baseline;

    & .search {
        margin-top: 0;
        width: 30% !important;
        margin-right: 0 !important;
    }

    & .button {

    }

    & .minimalButton {
        transition: color 0.5s linear;

        &:hover {
            color: $pink;
            transition: color 0.5s linear;
        }
    }
}

.table {

}
