@import "variables", "forms", "text";

body {
    background-color: $white;

    & a {
        text-decoration: none;
        color: black;
    }

    & section#main {
        & .dashboard {
            display: flex;

            & .sidebar {
                box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
                position: sticky;
                top: 0;
                height: 100vh;
                & .sidebar-header {
                    padding: 24px 32px;

                    & a {
                        margin-left: 4px;
                    }
                }

                & hr {
                    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, .4), transparent);
                    background-color: transparent;
                    border: 0;
                    opacity: 0.25;
                    margin-bottom: 20px;
                }

                & .nav-bar {
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    list-style: none;

                    & p {
                        margin: 10px 0 8px 8px;
                        padding-left: 24px;
                    }

                    & .nav-item {
                        margin-top: 10px;

                        & a {
                            margin: 0 16px;

                            & i {
                                color: black;
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }

            & .content {
                & .content-container {
                    padding: 24px;
                }
            }
        }
    }

    & table {
        width: 100%;
        margin-top: 10px;

        & thead {
            border-bottom: 1px solid $lightSubText;
        }

        & tbody {
            & tr {
                & td {
                    padding: 12px 14px;

                    & a {
                        font-size: 20px;
                        color: $subText;
                        font-weight: 500;
                        padding: 4px 8px;
                        margin: 0;
                        transition: color 0.15s linear;

                    }

                    & .edit {
                        &:hover {
                            color: $greenText;
                            transition: color 0.15s linear;
                        }
                    }

                    & .invite {
                        &:hover {
                            color: $accent4;
                            transition: color 0.15s linear;
                        }
                    }

                    & .delete {
                        &:hover {
                            color: $redText;
                            transition: color 0.15s linear;
                        }
                    }
                }

                &:not(:last-child) {
                    border-bottom: 1px solid $lightSubText;
                }
            }
        }
    }

}
