@import "variables";


.bottom-section{
    padding: 30px 80px 0 140px !important;
    & .buttons{
        justify-content: flex-start !important;
        margin-bottom: 30px;
        & .btn-container{
            & a{
                &:hover{
                }
            }
        }
    }
    & form{
        & .form-container{
            justify-content: flex-start;
            & .semester{
                & select{
                    width: 30%;
                }
            }
            & div{
                & label{

                }

                & input{

                }
            }
        }
    }
}
